.indexMainDiv{
  display: flex;
  flex-direction: column;
  align-items: center;  
  
}
.indexH1{
  margin:0;
}
/* .indexCardSection{
  display: flex;
  justify-content: space-around;
  width:100%;
  height:200px;
  background-color: red;
  
  
}
.span{
  border: 1px solid #008cba;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  background-color: green;
  

} */
.cardSectionIndex{

  width:70%;
  height:300px;
  

}
.cardSection{
  width: 100%;
  height:300px;
  margin:0 20px;
  
}
.cardSection2{
  width: 100%;
  height:300px;
  margin:0 20px; 
  padding:20px;
}
.cardIndex{
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #008cba;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  max-width: 300px; 
  flex-basis: 33.333333%;
  display:flex;  
  justify-content: space-between;
}

.cardIndexDiv{
  display:flex;  
  flex-wrap: wrap; 
  align-items: center;
}

/* .main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
} */
.form{
  width:300px;
  height:200px;
  background-color: #f0f0f0;
  box-shadow: 2px 10px 0 0;  
  margin:auto;
}

.newInput{
 position: relative;
  display:flex;
  flex-direction: column;
  align-items:center;
  justify-content:center;
  top:30%;

 
}
.todoInput{
width:80%;
height:3rem;
border:1px solid #008cba;
border-radius:4px;

  
}
.addBtn{
  width: 4rem;
  color:#fff;
  background-color:#008cba;
  margin-top:10px;
  border-radius:5px
}
.inputDropdown{
  display: flex;
  width:1%rem;
height:3rem;
border:1px solid #008cba;
border-radius:4px;

}
.strikethrough:checked{
  text-decoration:line-through;
}



/* .footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.title,
.description {
  text-align: center;
}

.description {
  margin: 4rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
}



.card:hover,
.card:focus,
.card:active {
  color: #0070f3;
  border-color: #0070f3;
}

.card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

@media (prefers-color-scheme: dark) {
  .card,
  .footer {
    border-color: #222;
  }
  .code {
    background: #111;
  }
  .logo img {
    filter: invert(1);
  }
} */
